{% extends 'base.html' %}

{% block title %}Come To My After-Party!{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12 col-md-8">
      <img src="/static/img/cupcake.png" align="right" alt="Cupcake">

      <h2>Welcome</h2>

      <p>I'm having an after-party! I'd love for you to come!</p>

      <h2>After-Party Info</h2>

      <p>We'll have board games, rainbows, and ice cream sundaes.</p>

    </div>

    <div class="col-xs-12 col-md-4">
      {% if session['RSVP'] %}

        <h2>Party Details</h2>
        <address>
          123 Magic Unicorn Way<br>
          San Francisco, CA
        </address>

        <h2>Games</h2>
        <p>
          I have so many fun games!
          <a href="/games">See the list.</a>
        </p>

      {% else %}

        <h2>Please RSVP</h2>

        <form method="POST" action="/rsvp">
          <div class="row">
            <label for="field-name">Name</label>
            <input id="field-name" class="form-control" type="text" name="name" required>
          </div>
          <div class="row">
            <label for="field-email">Email</label>
            <input id="field-email" class="form-control" type="email" name="email" required>
          </div>
          <input type="submit" value="Oooh! I want to come!" class="btn btn-primary mt-2">
        </form>

      {% endif %}


    </div>

  </div>


{% endblock %}